# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

# Файлы конфигурации для venv
.idea

docker_airflow/logs/*

docker_airflow/airflowenv

docker_airflow/dags/docker_dag.py

docker_airflow/common/config.py